body{
  
  
  background: #cc2b5e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.heading{
  font-size: 40px;
  font-style: bold;
  font-weight: bold;
  font-style: italic;
  height: 80px;
  width: auto;
  margin: 0px;
  padding-left: 0px;
  padding-top: 0px;
  text-align:center;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.inner{
  background-color: rgb(196, 139, 245);
  display:block;
  padding-top: 2px;
  font-size: 15px;
  font-style: oblique;
  font-weight: bold;
  border-top-right-radius: 1px;
  background-image: linear-gradient( 135deg, #92FFC0 10%, #002661 100%);
  width: 300px;
  border: 5px solid rgb(13, 0, 128);
  padding: 50px;
  margin: 20px;
}
.inner-box{
  background-color: rgb(196, 139, 245);
  display:block;
  padding-top: 2px;
  font-size: 15px;
  font-style: oblique;
  font-weight: bold;
  border-top-right-radius: 1px;
  background-image: linear-gradient( 135deg, #92FFC0 10%, #002661 100%);
  width: 300px;
  border: 5px solid rgb(13, 0, 128);
  padding: 50px;
  margin: 20px;

}
h2{
color: white;
}
ul{
  color: #fff;
}

button{           
   background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
  }

  button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  

  
 
